<ion-view view-title="Equipment Inventory">
    <ion-content>
        <h3 ng-show="!showItems">{{message}}</h3>

        <div class="media" ng-if="showItems">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <td>
                    <a href="#" ng-click="sortType = 'itemRef'; sortReverse = !sortReverse">
                    Item Ref
                      </a>
                    <span ng-show="sortType == 'itemRef' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'itemRef' && sortReverse" class="fa fa-caret-up"></span>
                    <ion-icon name="arrow-up"></ion-icon>
                    <ion-icon name="arrow-down"></ion-icon>
                  </td>
                  <td>
                    <a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
                    Description
                    <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
                  </td>
                  <td>
                    <a href="#" ng-click="sortType = 'location'; sortReverse = !sortReverse">
                    Location
                    <span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span>
                  </td>
                  <td>
                    <a href="#" ng-click="sortType = 'note'; sortReverse = !sortReverse">
                    Note
                    <span ng-show="sortType == 'note' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'note' && sortReverse" class="fa fa-caret-up"></span>
                  </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items | orderBy:sortType:sortReverse">
                  <td ng-click="showItemDetail(item._id)">{{ item.itemRef }}</td>
                  <td ng-click="showItemDetail(item._id)">{{ item.description }}</td>
                  <td ng-click="showItemDetail(item._id)">{{ item.location }}</td>
                  <td ng-click="showItemDetail(item._id)">{{ item.note }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </ion-content>
</ion-view>
